@charset "uft-8";

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: lightgray;
  margin: 5px;
}

#text-shadow{
  padding: 0 40px;
  font-size: 30px;
}

.drop_shadow{text-shadow: 2px 2px 3px gray;}

.border-radius-one{
  border-radius: 50px;
  background-color: floralwhite;
  padding: 10px;
  margin: 5px;
}

.border-radius-two{
  border-radius: 5px 50px;
  background-color: floralwhite;
  padding: 10px;
  margin: 5px;
}

.box-drop-shadow       {box-shadow: 2px 2px 5px gray;           padding: 5px; margin:20px;}
.box-grow              {color:white;
                        box-shadow: 0px 0px 10px gray;          padding: 5px; margin:20px;}
.box-inset_drop_shadow {box-shadow: 2px 2px 5px gray inset;     padding: 5px; margin:20px;}
.box-inset-grow        {box-shadow: 0px 0px 15px silver inset;  padding: 5px; margin:20px;}
.box-spread_shadow     {box-shadow: 0px 0px 0px 3px black;      padding: 5px; margin:20px;}
.box-multi-shadow      {box-shadow: 0px 0px 0px 3px lightgrey inset,
                                    0px 0px 0px 4px black inset,
                                    2px 2px 10px 0px black;     padding: 5px; margin:20px;}
